.firspage{
    padding: 11rem 0;
    background: #73c8a9;
    background: -webkit-linear-gradient(to right, #73c8a9, #373b44);
    background: linear-gradient(to right, #73c8a9, #373b44);
    min-height: 100vh;
}
.firspage__conatiner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstpage__button{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0.4;
}
.firstpage__image{
    flex: 0.55;
}
.firstpage__image img{
    width: 500px;
}
.audio__btn{
    width: 65%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.audio__btn__visited{
    width: 65%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    cursor: pointer;
}
.page__btn{
    width: 100px;
   margin-top: 3rem;
    padding: 1rem 0;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstpage__image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width:950px){
    .firstpage__image{
        flex: 0.5;
    }
    .firstpage__button{
        flex: 0.4;
    }
}
@media screen and (max-width:810px){
    .firspage__conatiner{
        flex-direction: column;
    }
   .audio__btn__visited , .audio__btn{
        width: 200px;
    }
    .firspage{
        padding:2rem 0;
    }
    .firstpage__image{
        margin-top: 1rem;
    }
    .firstpage__image{
        flex-direction: column-reverse;
    }
    .page__btn{
        margin-bottom: 1rem;
    }
    .firstpage__image img{
        width: 400px;
    }
}
@media screen and (max-width:500px){
    .firstpage__image img{
        width: 300px;
    }
}